@import "tailwindcss";


.red-hat-text {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@theme {
    --font-red-hat-text: 'Red Hat Text', sans-serif;
    --breakpoint-mobile: 370px;
    --spacing-Bh: 499vh;
}